<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <!-- 부트스트랩 CDN 링크 추가 -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">My Blog</a>
  </div>
</nav>

<!-- 글 목록 페이지 -->
<div class="container mt-5">
  <h1>글 목록</h1>
  <ul class="list-group" th:each="post : ${posts}">
    <li class="list-group-item"><a href="post.html" th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">글 제목</a></li>
    <!-- 필요에 따라 글 목록을 동적으로 생성하거나 서버에서 가져올 수 있음 -->
  </ul>

  <a href="addPost.html" th:href="@{/post/add}" class="btn btn-primary">새 글 작성</a>
</div>
</body>
</html>